/* CSS utilisé dans plusieurs pages */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

.pad {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.disposition {
  margin: 0;
  place-items: center;
  justify-content: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow: scroll;
  padding: 20px;
  background-color: #c0d6ff;
  height: 95vh;
}

.milieu {
  display: flex;
  justify-content: center;
}

.ligne {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sous-titres {
  color: #ffa564;
  font-weight: 600;
  margin: 0;
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
}

.bloc-default {
  width: 90vw;
  border-radius: 20px;
  border: solid;
  border-color: white;
  border-width: 5px;
}

.gradiant-right {
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #322b79 10%,
    #9f9de9 100%
  );
}

.gradiant-left {
  background-image: radial-gradient(
    farthest-side at 5px 20px,
    #9f9de9 20%,
    #322b79 150%
  );
}

.poly {
  background-image: url("src/lib/assets/Polygon 1.svg");
  height: 20px;
  width: 23px;
  margin-left: 20px;
  background-repeat: no-repeat;
}

/* Bouton du modal */

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .button {
    background-color: #f9f9f9;
  }
}

/* CSS du scanner */

#qr-shaded-region {
  border-width: 87.5px 122px !important;
  border-color: rgba(0, 0, 0, 0.00001) !important;
}

#modal-litleText {
  font-weight: 200 !important;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#reader__scan_region {
  background: white;
}

video {
  width: 80vw !important;
  border-radius: 20px;
  border: solid 7px #6284c5;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
